/* #ff6b81 */
.paraliza-body {
  overflow: hidden;
}

.cabecalho-branco {
  background-color: #FFFFFF;
}

.container-cabecalho {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: #FFF;
  box-shadow: 0 0.15em 0.5em 0 rgba(0, 0, 0, 0.1);
}
.container-cabecalho .content-logo-btn-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-cabecalho .content-logo-btn-menu .logo-box-busca-large {
  z-index: 2;
  display: flex;
}
.container-cabecalho .content-logo-btn-menu .logo-box-busca-large .logo a {
  display: block;
  width: 140px;
  height: 45px;
  font-size: 0;
  background: url(../../img/sistema/logo.png) no-repeat center/140px;
}
.container-cabecalho .content-logo-btn-menu .logo-box-busca-large .logo-escuro a {
  color: #333333;
}
.container-cabecalho .content-logo-btn-menu .logo-box-busca-large .box-busca-large {
  display: none;
  justify-content: flex-end;
}
.container-cabecalho .content-logo-btn-menu .logo-box-busca-large .box-busca-large .form-busca {
  width: 60%;
  display: flex;
}
.container-cabecalho .content-logo-btn-menu .logo-box-busca-large .box-busca-large .form-busca #ipt-busca {
  padding: 6px;
  border: 1px solid #eee;
  border-right: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  flex: 1;
  font-size: 14px;
}
.container-cabecalho .content-logo-btn-menu .logo-box-busca-large .box-busca-large .form-busca #btn-busca {
  padding: 6px 10px;
  background-color: #FFF;
  color: #ccc;
  cursor: pointer;
  border: 1px solid #eee;
  border-left: none;
  border-radius: 0 4px 4px 0;
}
.container-cabecalho .content-logo-btn-menu .btn-menu {
  width: 20px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu .btn-menu .linha-btn {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #00aaff;
  transition: 0.3s;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-escuro .linha-btn {
  background-color: #00aaff;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto {
  justify-content: center;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn {
  background-color: #FFF;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-2 {
  margin-top: -3px;
  transform: translateX(-100%);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-1 {
  transform: rotate(45deg);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-3 {
  margin-top: -3px;
  transform: rotate(-45deg);
}
.container-cabecalho .content-logo-btn-menu .content-menu {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  left: -100%;
}
.container-cabecalho .content-logo-btn-menu .content-menu .menu-principal {
  width: 270px;
  height: 100%;
  background-color: #FFFFFF;
  transform: translateX(-50%);
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .form-busca {
  width: 100%;
  display: flex;
  padding: 20px;
  padding-bottom: 10px;
  border-top: 1px solid #f7f4f4;
}
.container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .form-busca #ipt-busca {
  padding: 6px;
  border: 1px solid #eee;
  outline: none;
  flex: 1;
  font-size: 14px;
}
.container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .form-busca #btn-busca {
  padding: 6px 10px;
  background-color: #333;
  color: #FFF;
  cursor: pointer;
  border: none;
}
.container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  flex: 1;
  overflow-y: auto;
}
.container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item {
  width: 100%;
}
.container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item a {
  width: 100%;
  display: block;
  padding: 5px 20px;
  font-size: 0.9em;
  color: #596f81;
}
.container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item:hover a.a-item-menu {
  color: #FFFFFF;
  background-color: #3c4e64;
}
.container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-midia {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-top: 1px solid #f7f4f4;
  align-self: flex-end;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #FFF;
}
.container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-midia li.item {
  flex: 1;
}
.container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-midia li.item a {
  display: block;
  width: 100%;
  padding: 5px 0;
  font-size: 1.4em;
  text-align: center;
}
.container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-midia li.item .icon-facebook {
  color: #4164ac;
}
.container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-midia li.item .icon-instagram {
  color: #f24d57;
}
.container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-midia li.item .icon-youtube {
  color: #e93c25;
}
.container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-midia li.item .icon-whatsapp {
  color: #00e676;
}
.container-cabecalho .content-logo-btn-menu .content-menu-aberto {
  top: 0;
  left: 0;
  transition: 0.3s;
}
.container-cabecalho .content-logo-btn-menu .content-menu-aberto .menu-principal {
  transform: translateX(0);
  transition: 0.6s;
}
.container-cabecalho .content-logo-btn-menu .content-menu-aberto .btn-menu {
  transition: 0.3s;
}

@media screen and (min-width: 920px) {
  /*     .container-cabecalho{
          padding: 0 6%;
      }   */
}
@media screen and (min-width: 990px) {
  .cabecalho-branco .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item a {
    color: #3c4e64;
  }

  .container-cabecalho .content-logo-btn-menu {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .container-cabecalho .content-logo-btn-menu .logo-box-busca-large {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }
  .container-cabecalho .content-logo-btn-menu .logo-box-busca-large .logo a {
    width: 160px;
    height: 50px;
    background-size: 160px;
  }
  .container-cabecalho .content-logo-btn-menu .logo-box-busca-large .box-busca-large {
    flex: 1;
    display: flex;
  }
  .container-cabecalho .content-logo-btn-menu .logo-box-busca-large .box-busca-large .form-busca #ipt-busca {
    padding: 0px 15px;
  }
  .container-cabecalho .content-logo-btn-menu .btn-menu {
    display: none;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu {
    width: 100%;
    height: 100%;
    position: relative;
    left: inherit;
    background-color: inherit;
    transition: none;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal {
    width: auto;
    background-color: transparent;
    transform: none;
    padding: 0;
    transition: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .form-busca {
    width: auto;
    align-items: stretch;
    padding: 0;
    display: none;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .form-busca #ipt-busca {
    padding: 5px;
    border-radius: 3px 0 0 3px;
    background-color: #eee;
    color: #6a6464;
    font-size: 12;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .form-busca #btn-busca {
    padding: 5px 8px;
    color: #6a6464;
    background-color: #eee;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-midia {
    width: auto;
    position: static;
    padding: 0;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-midia li.item {
    margin-left: 15px;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-midia li.item a.icon-midia {
    font-size: 1.2em;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu {
    padding: 0;
    height: 100%;
    flex-direction: row;
    border: none;
    overflow-y: hidden;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item {
    width: auto;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item a {
    color: #3c4e64;
  }
  .container-cabecalho .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item:hover a.a-item-menu {
    color: #00AAFF;
    background-color: transparent;
  }
}

/*# sourceMappingURL=cabecalho.css.map */
