<header class="container-cabecalho">

    <div class="content-logo-btn-menu">

        <h2 class="logo"><a href="#">Logo aqui</a></h2>

        <div class="content-menu" id="content-menu">

            <nav class="menu-principal">
                <form action="#" class="form-busca" method="get">
                    <input type="text" id="ipt-busca" name="ipt-busca" placeholder="busque por algo...">
                    <button type="submit" class="btn-busca" id="btn-busca">
                        <i class="fas fa-search"></i>
                    </button>
                </form>

                <ul class="ul-items-menu">
                    <li class="item item-menu" linkInterno="false">    <a class="a-item-menu" href="#home">Home</a></li>
                    <li class="item item-menu" linkInterno="false"><a class="a-item-menu" href="#categorias">Categorias</a></li>
                    <li class="item item-menu" linkInterno="false">    <a class="a-item-menu" href="#eventos">Eventos</a></li>
                    <li class="item item-menu" linkInterno="false">    <a class="a-item-menu" href="#servicos">Serviços</a></li>
                    <li class="item item-menu" linkInterno="false">    <a class="a-item-menu" href="#sobre">Sobre</a></li>
                    <li class="item item-menu" linkInterno="false">    <a class="a-item-menu" href="#contato">Contato</a></li>
                </ul>

                <ul class="ul-items-midia">
                    <li class="item"><a href="" class="icon-facebook"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="item"><a href="" class="icon-instagram"><i class="fab fa-instagram"></i></a></li>
                    <li class="item"><a href="" class="icon-youtube"><i class="fab fa-youtube"></i></a></li>
                    <li class="item"><a href="" class="icon-whatsapp"><i class="fab fa-whatsapp"></i></a></li>
                </ul>

            </nav>

        </div>

        <div class="btn-menu">
            <span class="linha-btn linha-btn-1"></span>
            <span class="linha-btn linha-btn-2"></span>
            <span class="linha-btn linha-btn-3"></span>
        </div>

    </div>


</header>