<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- lib -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="resources/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/assets/style/css/includes.css">
    <script src="resources/assets/js/cabecalho.js"></script>
    <script src="resources/assets/js/main.js"></script>
    <link rel="shortcut icon" href="resources/assets/img/sistema/favicon.png" type="image/x-icon">
</head>
<body>
    
    {{header}}


    {{content}}
        
    
    {{footer}}

    <div class="contente-btn-volta-topo">
        <button class="btn-volta-top">
            <i class="fas fa-chevron-up"></i>
        </button>
    </div>
</body>
</html>